$white: #fff;
$black: #000;
$green: #21d106;
$red: #ce0808;
$main-color: #4c7f0a;
$bg-color: #515151;
$bg-color-light: #ededed;
$main-gradient: linear-gradient(147deg, #53c30d 0%, #315117 70%);
